<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="pizza, delivery food, fast food, sushi, take away, chinese, italian food">
	<meta name="description" content="">
	<meta name="author" content="Ansonika">
	<title>极速帮商家管理</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="/static/img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144-precomposed.png">

	<!-- GOOGLE WEB FONT -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>

	<!-- BASE CSS -->
	<link href="/static/css/base.css" rel="stylesheet">

	<!-- SPECIFIC CSS -->
	<link href="/static/css/skins/square/grey.css" rel="stylesheet">
	<link href="/static/css/admin.css" rel="stylesheet">
	<link href="/static/css/bootstrap3-wysihtml5.min.css" rel="stylesheet">
	<link href="/static/css/dropzone.css" rel="stylesheet">

	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
	<![endif]-->
	<!-- <script>
		window.onload = function(){
			document.getElementById("submit_file").onclick = function(){
				document.forms[0].submit();
			};
		};
	</script>
	 -->

</head>

<body>
	<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave" id="status">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

	<!-- Header ================================================== -->
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col--md-4 col-sm-4 col-xs-4">
					<a href="index.html" id="logo">
						<img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
						<img src="/static/img/logo_mobile.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
					</a>
				</div>
				<nav class="col--md-8 col-sm-8 col-xs-8">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>移动菜单</span></a>
					<div class="main-menu">
						<div id="header_menu">
							<img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true">
						</div>
						<a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
						<ul>
                    <!-- <li class="submenu">
					<a href="javascript:void(0);" class="show-submenu">家<i class="icon-down-open-mini"></i></a> -->
					
                    <!-- <ul>
                        <li><a href="index.html">家庭视频背景</a></li>
                        <li><a href="index_2.html">静态图片</a></li>
                        <li><a href="index_3.html">家用文字旋转器</a></li>
                        <li><a href="index_8.html">主页图层滑块</a></li>
                        <li><a href="index_4.html">家用饼干吧</a></li>
                        <li><a href="index_5.html">主页弹出</a></li>
                        <li><a href="index_6.html">家用手机合成</a></li>
                        <li><a href="index_7.html">顶级餐单版本2</a></li>
					</ul> -->
					
                    <!-- </li>
                    <li class="submenu">
					<a href="javascript:void(0);" class="show-submenu">Restaurants<i class="icon-down-open-mini"></i></a>
					<li><a href="admin.html">商家</a></li>
                    <ul>
                        <li><a href="list_page.html">Row listing</a></li>
                        <li><a href="grid_list.html">Grid listing</a></li>
                        <li><a href="map_listing.html">Map listing</a></li>
                        <li><a href="detail_page.html">Restaurant Menu</a></li>
                        <li><a href="submit_restaurant.html">Submit Restaurant</a></li>
                        <li><a href="cart.html">Order step 1</a></li>
                        <li><a href="cart_2.html">Order step 2</a></li>
                        <li><a href="cart_3.html">Order step 3</a></li>
                        <li><a href="cart_datepicker.html">Order Date/Time picker</a></li>
                    </ul>
					</li> -->
					
                    <!-- <li><a href="about.html">关于我们</a></li>
                    <li><a href="faq.html">常见问题</a></li>
                    <li class="submenu">
                    <li><a href="#0" data-toggle="modal" data-target="#register">注册</a></li>
                    <ul>
                        <li><a href="RTL_version/index.html">RTL version</a></li>
                        <li><a href="admin.html">Admin section</a></li>
                        <li><a href="submit_driver.html">Submit Driver</a></li>
                        <li><a href="#0" data-toggle="modal" data-target="#login_2">User Login</a></li>
                        <li><a href="#0" data-toggle="modal" data-target="#register">User Register</a></li>
                        <li><a href="detail_page_2.html">Restaurant detail page</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="coming_soon/index.html">Coming soon page</a></li>
                        <li><a href="shortcodes.html">Shortcodes</a></li>
                        <li><a href="icon_pack_1.html">Icon pack 1</a></li>
                        <li><a href="icon_pack_2.html">Icon pack 2</a></li>
                    </ul>
                    </li>
					<li><a href="#0" data-toggle="modal" data-target="#login_2">登录</a></li> -->
					
                    <li><a href="/user_center">返回主页</a></li>
                </ul>
					</div>
					<!-- End main-menu -->
				</nav>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</header>
	<!-- End Header =============================================== -->

	<!-- SubHeader =============================================== -->
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="static/img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
		<div id="subheader">
			<div id="sub_content">
				<h1>商家后台</h1>
				<!-- <p>谁是在出了更好的债务，它带走你授予这些债务是三段论。</p> -->
				<p></p>
			</div>
		</div>
		<!-- End subheader--> 
	</section>
	<!-- End SubHeader ============================================ -->

	<!-- <div id="position">
		<div class="container">
			<ul>
				<li><a href="#0">家</a>
				</li>
				<li><a href="#0">部分</a>
				</li>
				<li>活动页面</li>
			</ul>
			<a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> 搜索</a>
		</div>
	</div>Position -->

	<!-- Content ================================================== -->
	<div class="container margin_60">
		<div id="tabs" class="tabs">
			<nav>
				<ul>
					<!-- <li><a href="#section-1" class="icon-profile"><span>主要信息</span></a>
					</li> -->
					<li><a href="#section-2" class="icon-menut-items"><span>菜单</span></a>
					</li>
					<!-- <li><a href="#section-3" class="icon-settings"><span>下架</span></a>
					</li> -->
				</ul>
			</nav>
			<!-- <div class="content">

				<section id="section-1">
					<div class="indent_title_in">
						<i class="icon_house_alt"></i>
						 <h3>餐厅</h3>
					</div>

					<div class="wrapper_indent">
						<div class="form-group">
							<label>餐厅的名字</label>
							<input class="form-control" name="restaurant_name" id="restaurant_name" type="text">
						</div>
						<div class="form-group">
							<label>餐厅描述</label>
							<textarea class="wysihtml5 form-control" placeholder="Enter text ..." style="height: 200px;"></textarea>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>电话</label>
									<input type="text" id="Telephone" name="Telephone" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>电子邮件</label>
									<input type="email" id="Email" name="Email" class="form-control">
								</div>
							</div>
						</div>
					</div>End wrapper_indent -->
<!-- 
					<hr class="styled_2">

					<div class="indent_title_in">
						<i class="icon_pin_alt"></i>
						<h3>地址</h3>
						<p>
							
						</p>
					</div>
					<div class="wrapper_indent">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>国家</label>
									<select class="form-control" name="country" id="country">
										<option value="" selected>选择您的国家</option>
										<option value="Europe">欧洲</option>
										<option value="United states">美国</option>
										<option value="Asia">亚洲</option>
										
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6"></div>
								<div class="form-group">
									<label>具体地址</label>
									<input type="text" id="city_booking" name="city_booking" class="form-control">
								</div>
							</div> -->
							<!-- <div class="col-md-3">
								<div class="form-group">
									<label>State</label>
									<input type="text" id="state_booking" name="state_booking" class="form-control">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Postal code</label>
									<input type="text" id="postal_code" name="postal_code" class="form-control">
								</div>
							</div> -->
						<!-- </div> -->
						<!--End row -->
					<!-- </div> -->
					<!-- End wrapper_indent -->

					<!-- <hr class="styled_2">
					<div class="indent_title_in">
						<i class="icon_images"></i>
						<h3>标志和餐厅照片</h3>
					</div>

					<div class="wrapper_indent add_bottom_45">
						<div class="form-group">
							<label>餐厅上传您的标志</label>
							<div id="logo_picture" class="dropzone">
								<input name="file" type="file">
								<div class="dz-default dz-message"><span>这里点击或删除图片</span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label>餐厅上传您的照片</label>
							<div id="photos" class="dropzone">
								<input name="file" type="file" multiple>
								<div class="dz-default dz-message"><span>这里点击或删除图片</span>
								</div>
							</div>
						</div>
					</div> End wrapper_indent -->
<!--                     
					<hr class="styled_2">
					<div class="wrapper_indent">
						<button class="btn_1">现在保存</button>
					</div>End wrapper_indent ->
                    
				</section>End section 1 -->

				<section id="section-2">
					<div class="indent_title_in">
						<i class="icon_document_alt"></i>
						<h3>编辑菜单列表</h3>
					</div>
                    
					<div class="wrapper_indent">


						<!-- <div class="form-group">
							<label>Menu Category</label>
							<input type="text" name="menu_category" class="form-control" placeholder="EX. Starters">
						</div> -->

						<!-- <div class="menu-item-section clearfix">
							<h4>菜单项</h4>
							<div><a href="#0"><i class="icon_plus_alt"></i></a><a href="#0"><i class="icon_minus_alt"></i></a>
							</div>
						</div> -->



						<form method="POST" action="/admin" enctype="multipart/form-data">
						<!-- <form method="POST" action="#" enctype="multipart/form-data"></form> -->
							<!-- <input type="file" name="azhe">&nbsp; -->
									<div class="col-sm-9">
										<div class="col-md-8">
											<div class="form-group">
												<h3>进店必买</h3>
												<label>图片</label>
												<input type="file" name="azhe">&nbsp;
												<label>菜名</label>
												<input type="text"  name="menu_item_title" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>价格</label>
												<input type="text" name="menu_item_title_price" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>简短描述</label>
												<input type="text" name="menu_item_description" class="form-control">
											</div>
										</div>
										
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">

										<div class="wrapper_indent">
											<button type="submit" class="btn_1">提交</button>
										</div>
									</div>


								<!-- <input type="file" name="azhe">&nbsp; -->
									<div class="col-sm-9">
										<div class="col-md-8">
											<div class="form-group">
												<h3>特色小吃</h3>
												<input type="file" name="yrz">&nbsp;
												<label>菜名</label>
												<input type="text"  name="uname" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>价格</label>
												<input type="text" name="uprice" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>简短描述</label>
												<input type="text" name="uinfor" class="form-control">
											</div>
										</div>
										
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">

										<div class="wrapper_indent">
											<button type="submit" class="btn_1">提交</button>
										</div>
									</div>

									<div class="col-sm-9">
										<div class="col-md-8">
											<div class="form-group">
												<h3>零食</h3>
												<input type="file" name="qwe">&nbsp;
												<label>菜名</label>
												<input type="text"  name="uname2" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>价格</label>
												<input type="text" name="uprice2" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>简短描述</label>
												<input type="text" name="uinfor2" class="form-control">
											</div>
										</div>
										
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">

										<div class="wrapper_indent">
											<button type="submit" class="btn_1">提交</button>
										</div>
									</div>

									<div class="col-sm-9">
										<div class="col-md-8">
											<div class="form-group">
												<h3>酒水饮料</h3>
												<input type="file" name="asd">&nbsp;
												<label>菜名</label>
												<input type="text"  name="uname3" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>价格</label>
												<input type="text" name="uprice3" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>简短描述</label>
												<input type="text" name="uinfor3" class="form-control">
											</div>
										</div>
										
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">

										<div class="wrapper_indent">
											<button type="submit" class="btn_1">提交</button>
										</div>
									</div>

									
									<div class="col-sm-9">
										<div class="col-md-8">
											<div class="form-group">
												<h3>其他服务</h3>
												<input type="file" name="zxc">&nbsp;
												<label>菜名</label>
												<input type="text"  name="uname4" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>价格</label>
												<input type="text" name="uprice4" class="form-control">
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label>简短描述</label>
												<input type="text" name="uinfor4" class="form-control">
											</div>
										</div>
										
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">
										<hr class="styled_2">

										<div class="wrapper_indent">
											<button type="submit" class="btn_1">提交</button>
										</div>
									</div>
								</section>
								

							<!-- <section id="section-3">
								<div class="indent_title_in">
									<i class="icon_document_alt"></i>
									<h3>下架菜品</h3>
								</div>
	 -->
										<div class="col-sm-9">
											<div class="col-md-8">
												<div class="form-group">
													<h3>下架菜品</h3>
													<!-- <input type="file" name="zxc">&nbsp; -->
													<label>种类</label>
													<input type="text"  name="uname5" class="form-control">
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label>菜名</label>
													<input type="text" name="uprice5" class="form-control">
												</div>
											</div>
											<!-- <div class="col-md-8">
												<div class="form-group">
													<label>简短描述</label>
													<input type="text" name="uinfor4" class="form-control">
												</div>
											</div> -->
											
											<hr class="styled_2">
											<hr class="styled_2">
											<!-- <hr class="styled_2">
											<hr class="styled_2">
											<hr class="styled_2"> -->
	
											<div class="wrapper_indent">
												<button type="submit" class="btn_1">提交</button>
											</div>
										</div>
										
										
									</section><!-- End section 3 -->
	
								</div>	
							</div>
						</form>

									<!-- <div class="form-group">
										<label>此外选项</label>
										<div class="table-responsive">
											<table class="table table-striped edit-options">
												<tbody>
													<tr>
														<td style="width:20%">
															<input type="text" class="form-control" placeholder="+ $3.50">
														</td>
														<td style="width:50%">
															<input type="text" class="form-control" placeholder="Ex. Medium">
														</td>
														<td style="width:30%">
															<label>
																<input type="radio" name="option_item_settings_1" checked class="icheck" value="checkbox">Checkbox</label>
															<label class="margin_left">
																<input type="radio" name="option_item_settings_1" class="icheck" value="radio">Radio</label>
														</td>
													</tr>
													<tr>
														<td style="width:20%">
															<input type="text" class="form-control" placeholder="+ $5.50">
														</td>
														<td style="width:50%">
															<input type="text" class="form-control" placeholder="Ex. Large">
														</td>
														<td style="width:30%">
															<label>
																<input type="radio" name="option_item_settings_2" class="icheck" value="checkbox">Checkbox</label>
															<label class="margin_left">
																<input type="radio" name="option_item_settings_2" class="icheck" value="radio" checked>Radio</label>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div> -->

									<!-- <div class="form-group">
										<label>Item ingredients</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $2.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra tomato">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_3" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_3" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra Pepper">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_4" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_4" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div> -->
									<!-- </div> -->
									<!-- End form-group -->
								<!-- </div>-->

								
							</div>
						</div>


						<!-- <h1>文件上传</h1>
						<hr>
						<form method="POST" action="/file_upload" enctype="multipart/form-data">
							<input type="file" name="file">&nbsp;
							<a href="javascript:void(0);" id="submit_file">上传</a>
						</form> -->

						<!-- <div class="menu-item-section clearfix">
							<h4>Menu item #2</h4>
							<div><a href="#0"><i class="icon_plus_alt"></i></a><a href="#0"><i class="icon_minus_alt"></i></a>
							</div>
						</div>

						<div class="strip_menu_items">
							<div class="row">
								<div class="col-sm-3">
									<div class="menu-item-pic dropzone">
										<input name="file" type="file">
										<div class="dz-default dz-message"><span>Click or Drop<br>Images Here</span>
										</div>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label>Title</label>
												<input type="text" name="menu_item_title" class="form-control">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Price</label>
												<input type="text" name="menu_item_title_price" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Short description</label>
										<input type="text" name="menu_item_description" class="form-control">
									</div>

									<div class="form-group">
										<label>Item options</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $3.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Medium">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_5" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_5" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Large">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_7" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_7" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div> -->
									<!-- </div> -->

									<!-- <div class="form-group">
										<label>Item ingredients</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $2.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra tomato">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_8" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_8" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra Pepper">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_9" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_9" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div> -->
									<!-- </div>
								</div>
							</div>
						</div>
					</div> -->

					<!-- <hr class="styled_2">
                    
					<div class="wrapper_indent">
						<div class="form-group">
							<label>Menu Category</label>
							<input type="text" name="menu_category" class="form-control" placeholder="EX. Main courses">
						</div>

						<div class="menu-item-section clearfix">
							<h4>Menu item #1</h4>
							<div><a href="#0"><i class="icon_plus_alt"></i></a><a href="#0"><i class="icon_minus_alt"></i></a>
							</div>
						</div>

						<div class="strip_menu_items">
							<div class="row">
								<div class="col-sm-3">
									<div class="menu-item-pic dropzone">
										<input name="file" type="file">
										<div class="dz-default dz-message"><span>Click or Drop<br>Images Here</span>
										</div>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label>Title</label>
												<input type="text" name="menu_item_title" class="form-control">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Price</label>
												<input type="text" name="menu_item_title_price" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Short description</label>
										<input type="text" name="menu_item_description" class="form-control">
									</div>

									<div class="form-group">
										<label>Item options</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $3.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Medium">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_10" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_10" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Large">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_11" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_11" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div> -->
									<!-- </div> -->

									<!-- <div class="form-group">
										<label>Item ingredients</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $2.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra tomato">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_12" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_12" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra Pepper">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_13" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_13" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div> -->
									<!-- </div>
								</div> -->
							<!-- </div>
						</div>
					</div> -->
                    
					<!-- <hr class="styled_2"> -->
                    
					<!-- <div class="wrapper_indent">
						<div class="add_more_cat"><a href="#0" class="btn_1">现在保存</a></div>
						 <div class="add_more_cat"><a href="#0" class="btn_1">现在保存</a> <a href="#0" class="btn_1">Add menu category</a> </div> ->
					</div> End wrapper_indent -->
                    
				<!-- </section>

				<section id="section-3">

					<div class="row">
                    
						<div class="col-md-6 col-sm-6 add_bottom_15">
							<div class="indent_title_in">
								<i class="icon_lock_alt"></i>
								<h3>修改密码</h3>
							</div>
							<div class="wrapper_indent">
								<div class="form-group">
									<label>旧密码</label>
									<input class="form-control" name="old_password" id="old_password" type="password">
								</div>
								<div class="form-group">
									<label>新密码</label>
									<input class="form-control" name="new_password" id="new_password" type="password">
								</div>
								<div class="form-group">
									<label>确认新密码</label>
									<input class="form-control" name="confirm_new_password" id="confirm_new_password" type="password">
								</div>
								<button type="submit" class="btn_1 green">更新密码</button>
							</div> End wrapper_indent -->
						<!-- </div> -->
                        
						<!-- <div class="col-md-6 col-sm-6 add_bottom_15">
							<div class="indent_title_in">
								<i class="icon_mail_alt"></i>
								<h3>更改电子邮件</h3>
							</div>
							<div class="wrapper_indent">
								<div class="form-group">
									<label>旧电子邮件</label>
									<input class="form-control" name="old_email" id="old_email" type="email">
								</div>
								<div class="form-group">
									<label>新的电子邮件</label>
									<input class="form-control" name="new_email" id="new_email" type="email">
								</div>
								<div class="form-group">
									<label>确认新邮件</label>
									<input class="form-control" name="confirm_new_email" id="confirm_new_email" type="email">
								</div>
								<button type="submit" class="btn_1 green">更新电子邮件</button>
							</div> End wrapper_indent -->
						<!-- </div> -->
                        
					<!-- </div> -->
					<!-- End row ->

					<hr class="styled_2">
                    
					<div class="indent_title_in">
						<i class="icon_shield"></i>
						<h3>通知设置</h3>
					</div>
					<div class="row">
                    
						<div class="col-md-6 col-sm-6">
							<div class="wrapper_indent">
								<table class="table table-striped notifications">
									<tbody>
										<tr>
											<td style="width:5%">
												<i class="icon_pencil-edit_alt"></i>
											</td>
											<td style="width:65%">
												新订单
											</td>
											<td style="width:35%">
												<label>
													<input type="checkbox" name="option_1_settings" checked class="icheck" value="yes">Yes</label>
												<label class="margin_left">
													<input type="checkbox" name="option_1_settings" class="icheck" value="no">No</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_pencil-edit_alt"></i>
											</td>
											<td>
												修改订单
											</td>
											<td>
												<label>
													<input type="checkbox" name="option_2_settings" checked class="icheck" value="yes">Yes</label>
												<label class="margin_left">
													<input type="checkbox" name="option_2_settings" class="icheck" value="no">No</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_pencil-edit_alt"></i>
											</td>
											<td>
												新用户注册
											</td>
											<td>
												<label>
													<input type="checkbox" name="option_3_settings" checked class="icheck" value="yes">Yes</label>
												<label class="margin_left">
													<input type="checkbox" name="option_3_settings" class="icheck" value="no">No</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_pencil-edit_alt"></i>
											</td>
											<td>
												新评论
											</td>
											<td>
												<label>
													<input type="checkbox" name="option_4_settings" checked class="icheck" value="yes">Yes</label>
												<label class="margin_left">
													<input type="checkbox" name="option_4_settings" class="icheck" value="no">No</label>
											</td>
										</tr>
									</tbody>
								</table>
								<button type="submit" class="btn_1 green">更改通知设置</button>
							</div>
                            
						</div>
					</div>
                    
				</section>

			</div>
		</div>
	</div>
	

	<div class="layer"></div> --> 
	<!-- Mobile menu overlay mask -->

	<!-- Login modal -->
	<!-- <div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myLogin">
					<div class="login_icon"><i class="icon_lock_alt"></i>
					</div>
					<input type="text" class="form-control form-white" placeholder="Username">
					<input type="text" class="form-control form-white" placeholder="Password">
					<div class="text-left">
						<a href="#">忘记密码?</a>
					</div>
					<button type="submit" class="btn btn-submit">提交</button>
				</form>
			</div>
		</div>
	</div>
	 End modal -->

	<!-- Register modal ->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myRegister">
					<div class="login_icon"><i class="icon_lock_alt"></i>
					</div>
					<input type="text" class="form-control form-white" placeholder="Name">
					<input type="email" class="form-control form-white" placeholder="Email">
					<input type="text" class="form-control form-white" placeholder="Password" id="password1">
					<input type="text" class="form-control form-white" placeholder="Confirm password" id="password2">
					<div id="pass-info" class="clearfix"></div>
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="accept_2" id="check_2" name="check_2" />
							<label for="check_2"><span>我同意的条款和条件</span>
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-submit">注册</button>
				</form>
			</div>
		</div>
	</div> -->
	<!-- End Register modal -->

	<!-- Search Menu ->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_close"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="搜索..." />
			<button type="submit"><i class="icon-search-6"></i>
			</button>
		</form>
	</div> -->
	<!-- End Search Menu -->

	<!-- COMMON SCRIPTS -->
	<script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common_scripts_min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/validate.js') }}"></script>

	<!-- Specific scripts -->
	<script src="/static/js/tabs.js"></script>
	<script>
		new CBPFWTabs(document.getElementById('tabs'));
	</script>

	<script src="/static/js/bootstrap3-wysihtml5.min.js"></script>
	<script type="text/javascript">
		$('.wysihtml5').wysihtml5({});
	</script>
	<script src="/static/js/dropzone.min.js"></script>
	<script>
		if ($('.dropzone').length > 0) {
			Dropzone.autoDiscover = false;
			$("#photos").dropzone({
				url: "upload",
				addRemoveLinks: true
			});

			$("#logo_picture").dropzone({
				url: "upload",
				maxFiles: 1,
				addRemoveLinks: true
			});

			$(".menu-item-pic").dropzone({
				url: "upload",
				maxFiles: 1,
				addRemoveLinks: true
			});
		}
	</script>

</body>

</html>

