<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="pizza, delivery food, fast food, sushi, take away, chinese, italian food">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>留言板</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- GOOGLE WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <!-- BASE CSS -->
    <link href="/static/css/base.css" rel="stylesheet">
    
    <!-- Radio and check inputs -->
    <link href="/static/css/skins/square/grey.css" rel="stylesheet">
    
    <!-- Gallery -->
    <link href="/static/css/slider-pro.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

	<div id="preloader">
        <div class="sk-spinner sk-spinner-wave" id="status">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div><!-- End Preload -->

    <!-- Header ================================================== -->
    <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a href="index.html" id="logo">
                <img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
                <img src="/static/img/logo_mobile.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
                </a>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
            <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>移动菜单</span></a>
            <div class="main-menu">
                <div id="header_menu">
                    <img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true">
                </div>
                <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                 <ul>
                    <!-- <li class="submenu">
                    <a href="javascript:void(0);" class="show-submenu">Home<i class="icon-down-open-mini"></i></a>
                    <ul>
                        <li><a href="index.html">Home Video background</a></li>
                        <li><a href="index_2.html">Home Static image</a></li>
                        <li><a href="index_3.html">Home Text rotator</a></li>
                        <li><a href="index_8.html">Home Layer slider</a></li>
                        <li><a href="index_4.html">Home Cookie bar</a></li>
                        <li><a href="index_5.html">Home Popup</a></li>
                        <li><a href="index_6.html">Home Mobile synthetic</a></li>
                        <li><a href="index_7.html">Top Menu version 2</a></li>
                    </ul>
                    </li>
                    <li class="submenu">
                    <a href="javascript:void(0);" class="show-submenu">Restaurants<i class="icon-down-open-mini"></i></a>
                    <ul>
                        <li><a href="list_page.html">Row listing</a></li>
                        <li><a href="grid_list.html">Grid listing</a></li>
                        <li><a href="map_listing.html">Map listing</a></li>
                        <li><a href="detail_page.html">Restaurant Menu</a></li>
                        <li><a href="submit_restaurant.html">Submit Restaurant</a></li>
                        <li><a href="cart.html">Order step 1</a></li>
                        <li><a href="cart_2.html">Order step 2</a></li>
                        <li><a href="cart_3.html">Order step 3</a></li>
                        <li><a href="cart_datepicker.html">Order Date/Time picker</a></li>
                    </ul>
                    </li> -->
                    <li><a href="/user_center">返回主页</a></li>
                    <!-- <li><a href="faq.html">Faq</a></li> -->
                    <!-- <li class="submenu">
                    <a href="javascript:void(0);" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
                    <ul>
                        <li><a href="RTL_version/index.html">RTL version</a></li>
                        <li><a href="admin.html">Admin section</a></li>
                        <li><a href="submit_driver.html">Submit Driver</a></li>
                        <li><a href="#0" data-toggle="modal" data-target="#login_2">User Login</a></li>
                        <li><a href="#0" data-toggle="modal" data-target="#register">User Register</a></li>
                        <li><a href="detail_page_2.html">Restaurant detail page</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="coming_soon/index.html">Coming soon page</a></li>
                        <li><a href="shortcodes.html">Shortcodes</a></li>
                        <li><a href="icon_pack_1.html">Icon pack 1</a></li>
                        <li><a href="icon_pack_2.html">Icon pack 2</a></li>
                    </ul>
                    </li>
                    <li><a href="#0" data-toggle="modal" data-target="#login_2">Login</a></li>
                    <li><a href="#0">Purchase this template</a></li> -->
                </ul>
            </div><!-- End main-menu -->
            </nav>
        </div><!-- End row -->
    </div><!-- End container -->
    </header>
    <!-- End Header =============================================== -->
    
<!-- SubHeader =============================================== -->
<section class="parallax-window" data-parallax="scroll" data-image-src="img/sub_header_2.jpg" data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
	<div id="sub_content">
    	<!-- <div id="thumb"><img src="/static/img/thumb_restaurant.jpg" alt=""></div> -->
                     <!-- <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> ( <small><a href="#0">98 评论</a></small> )</div> -->
                    <h1>极速帮</h1>
                    <!-- <div><em>Mexican / American</em></div>
                    <div><i class="icon_pin"></i> 135 Newtownards Road, Belfast, BT4 1AB - <strong>Delivery charge:</strong> $10, free over $15.</div> -->
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

    <!-- <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">家</a></li>
                <li><a href="#0">部分</a></li>
                <li>活动页面</li>
            </ul>
            <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> 搜索</a>
        </div>
	</div> -->
	<!-- Position -->
    
    <!-- <div class="collapse" id="collapseMap">
            <div id="map" class="map"></div>
	</div> -->
	<!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
        
			<div class="col-md-4">
				<p>
					<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">在地图上查看</a>
				</p>
				<div class="box_style_2">
					<h4 class="nomargin_top">开放时间 <i class="icon_clock_alt pull-right"></i></h4>
					<ul class="opening_list">
						<li>周一<span>12.00am-11.00pm</span></li>
						<li>周二<span>12.00am-11.00pm</span></li>
						<li>周三<span>12.00am-11.00pm</span></li>
						<!-- <li>周三 <span class="label label-danger">Closed</span></li> -->
						<li>周四<span>12.00am-11.00pm</span></li>
						<li>周五<span>12.00am-11.00pm</span></li>
						<li>周六<span>12.00am-11.00pm</span></li>
						<li>周日 <span class="label label-danger">休息</span></li>
					</ul>
				</div>
				<div class="box_style_2 hidden-xs" id="help">
					<i class="icon_lifesaver"></i>
					<h4>需要 <span>帮助吗?</span></h4>
					<a href="tel://004542344599" class="phone">+45 423 445 99</a>
					<small>周一至周五 9.00am - 7.30pm</small>
				</div>
			</div>
            
			<div class="col-md-8">
				<div class="box_style_2">
					<h2 class="inner">描述</h2>
                    
                    <!-- <div id="Img_carousel" class="slider-pro">
                        <div class="sp-slides">
                        
                            <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/1_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/1_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/1_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/1_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/1_large.jpg">
                            </div>
                            <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/2_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/2_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/2_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/2_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/2_large.jpg">
                                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
                                Lorem ipsum dolor sit amet </h3>
                                <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-show-transition="left" data-show-delay="200">
                                     consectetur adipisicing elit
                                </p>
                                <p class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="160" data-width="350" data-show-transition="left" data-show-delay="400">
                                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            
                            <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/3_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/3_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/3_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/3_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/3_large.jpg">
                                <p class="sp-layer sp-white sp-padding" data-position="centerCenter" data-vertical="-50" data-show-transition="right" data-show-delay="500">
                                     Lorem ipsum dolor sit amet
                                </p>
                                <p class="sp-layer sp-black sp-padding" data-position="centerCenter" data-vertical="50" data-show-transition="left" data-show-delay="700">
                                     consectetur adipisicing elit
                                </p>
                            </div>
                            
                            <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/4_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/4_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/4_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/4_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/4_large.jpg">
                                <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            
                            <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/5_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/5_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/5_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/5_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/5_large.jpg">
                                <p class="sp-layer sp-white sp-padding" data-vertical="5%" data-horizontal="5%" data-width="90%" data-show-transition="down" data-show-delay="400">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            
                            <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/6_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/6_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/6_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/6_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/6_large.jpg">
                                <p class="sp-layer sp-white sp-padding" data-horizontal="10" data-vertical="10" data-width="300">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            
                            <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/7_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/7_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/7_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/7_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/7_large.jpg">
                                <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            
                           <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/8_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/8_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/8_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/8_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/8_large.jpg">
                                <p class="sp-layer sp-black sp-padding" data-horizontal="50" data-vertical="50" data-show-transition="down" data-show-delay="500">
                                     Lorem ipsum dolor sit amet
                                </p>
                                <p class="sp-layer sp-white sp-padding" data-horizontal="50" data-vertical="100" data-show-transition="up" data-show-delay="500">
                                     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                            
                            <div class="sp-slide">
                                <img alt="" class="sp-image" src="/static/css/images/blank.gif" 
                                data-src="/static/img/slider_single_restaurant/9_medium.jpg" 
                                data-small="/static/img/slider_single_restaurant/9_small.jpg" 
                                data-medium="/static/img/slider_single_restaurant/9_medium.jpg" 
                                data-large="/static/img/slider_single_restaurant/9_large.jpg" 
                                data-retina="/static/img/slider_single_restaurant/9_large.jpg">
                            </div>
                        </div>
                        <div class="sp-thumbnails">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/1_medium.jpg">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/2_medium.jpg">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/3_medium.jpg">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/4_medium.jpg">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/5_medium.jpg">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/6_medium.jpg">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/7_medium.jpg">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/8_medium.jpg">
                            <img alt="" class="sp-thumbnail" src="/static/img/slider_single_restaurant/9_medium.jpg">
                        </div>
                    </div> -->
                    <h3>关于我们</h3>
					<p>
						极速帮是我们打造的致力于一家供客户订餐、订外卖的网上平台，区别于传统食品市场营销方式：上门取餐，而我们平台专门为客户送餐，不用出门，就可以吃到香喷喷的食物，节省了人们的时间，提升了效率，便利人们......
					</p>
					<!-- <p class="add_bottom_30">
						Lorem ipsum dolor sit amet, ex has recusabo adipiscing, aliquip alienum at vis, eos id qualisque quaerendum. Soleat habemus duo no, te quo dicam everti, sale ullum movet per ea. Cu cum laudem quaeque, agam decore nullam ei vis. Nec ad tota etiam eirmod. Harum debitis detraxit ut vel, eu vel option oporteat.
					</p> -->
					<div id="summary_review">
						<div id="general_rating">
							{{ number }} 评论
							<div class="rating">
								<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
							</div>
						</div>
                        
						<div class="row" id="rating_summary">
							<div class="col-md-6">
								<ul>
									<li>食品质量
									<div class="rating">
										<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
									</div>
									</li>
									<li>价格
									<div class="rating">
										<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
									</div>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li>守时
									<div class="rating">
										<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
									</div>
									</li>
									<li>礼貌
									<div class="rating">
										<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
									</div>
									</li>
								</ul>
							</div>
						</div>
						<hr class="styled">
						<a href="#" class="btn_1 add_bottom_15" data-toggle="modal" data-target="#myReview">留下评论</a>
					</div>
					<!-- <div>
                    {% if session.get("user_info") %}
					<div id="mb_form">
						<form action="/message_board" method="POST">
							<table>
								<tr><td>留言：</td><td><textarea id="content" name="content" placeholder="请输入留言内容"></textarea></td></tr>
								<tr><td></td><td><button type="submit">提交</button></td></tr>
							</table>
						</form>
					</div>
					{% else %}
					<p>想留言？请<a href="/index">登录</a>！</p>
					{% endif %}
					<hr>
					{% for m in messages %}
					<div class="message">
						<div><span class="uname">{{ m[0] }}</span><span class="pub_time">{{ m[1] }}</span></div>
						<p class="content">{{ m[2] }}</p>
					</div>
					{% endfor %}
					</div> -->

					{% for m in messages %}
					<div class="review_strip_single">
						<img src="/static/img/avatar3.jpg" alt="" class="img-circle">
						<small>{{ m[1] }}</small>
						<h4>{{ m[0] }}</h4>
						<p>
							{{ m[2] }}
						</p>
					</div>
					{% endfor %}



					<!-- <div class="review_strip_single">
						<img src="/static/img/avatar3.jpg" alt="" class="img-circle">
						<small> - 25 March 2015 -</small>
						<h4>Markus Schulz</h4>
						<p>
							 "At sed dico invenire facilisis, sed option sapientem iudicabit ad, sea idque doming vituperatoribus at. Duo ut inani tantas scaevola. Commodo oblique at cum. Duo id vide delectus. Vel et doctus laoreet minimum, ei feugait pertinacia usu.
						</p>
						<div class="row">
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Food Quality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Price
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Punctuality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								</div>
								 Courtesy
							</div> -->
						<!-- </div>
					</div> -->
					<!-- <div class="review_strip_single last">
						<img src="/static/img/avatar2.jpg" alt="" class="img-circle">
						<small> - 10 April 2015 -</small>
						<h4>Frank Cooper</h4>
						<p>
							 "Ne mea congue facilis eligendi, possit utamur sensibus id qui, mel tollit euismod alienum eu. Ad tollit lucilius praesent per, ex probo utroque placerat eos. Tale verear efficiendi et cum, meis timeam vix et, et duis debet nostro mel. Aeterno labitur per no, id nec tantas nemore. An minim molestie per, mei sumo vulputate cu."
						</p>
						<div class="row">
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i>
								</div>
								 Food Quality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Price
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i>
								</div>
								 Punctuality
							</div>
							<div class="col-md-3">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								 Courtesy
							</div>
						</div>
					</div>
				</div>
		</div>
</div> -->



<div class="layer"></div>
    
<!-- Login modal -->   
<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myLogin">
                	<div class="login_icon"><i class="icon_lock_alt"></i></div>
					<input type="text" class="form-control form-white" placeholder="用户名">
					<input type="text" class="form-control form-white" placeholder="密码">
					<div class="text-left">
						<a href="#">忘记密码?</a>
					</div>
					<button type="submit" class="btn btn-submit">提交</button>
				</form>
			</div>
		</div>
	</div><!-- End modal -->   
    
<!-- Register modal -->   
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myRegister">
                	<div class="login_icon"><i class="icon_lock_alt"></i></div>
					<input type="text" class="form-control form-white" placeholder="用户名">
					<!-- <input type="text" class="form-control form-white" placeholder="Last Name"> -->
                    <input type="email" class="form-control form-white" placeholder="邮箱">
                    <input type="text" class="form-control form-white" placeholder="密码"  id="password1">
                    <input type="text" class="form-control form-white" placeholder="确认密码"  id="password2">
                    <div id="pass-info" class="clearfix"></div>
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="accept_2" id="check_2" name="check_2" />
							<label for="check_2"><span>我同意 <strong>条款 &amp; 条件</strong></span></label>
						</div>
					</div>
					<button type="submit" class="btn btn-submit">注册</button>
				</form>
			</div>
		</div>
	</div>
    
<!-- Register modal -->   
<div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="review" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>

					<!-- <form method="post" action="assets/review_restaurant.php" name="review" id="review" class="popup-form">   -->

					<div class="login_icon"><i class="icon_comment_alt"></i></div>
					<input name="restaurant_name" id="restaurant_name" type="hidden" value="极速帮">	
                    <!-- <input name="restaurant_name" id="restaurant_name" type="hidden" value="Mexican Taco Mex">	 -->
                    	<!-- <div class="row" >
                        	<div class="col-md-6">
                            <input name="name_review" id="name_review" type="text" placeholder="用户" class="form-control form-white">			
                            </div>
                            <div class="col-md-6">
                            	<input name="email_review" id="email_review" type="email" placeholder="邮箱" class="form-control form-white">
                            </div> -->
                        <!-- </div> -->
                        
                        <!-- <div class="row">
                        	<div class="col-md-6">
							<select class="form-control form-white" name="food_review" id="food_review">
									<option value="">食品质量</option>
									<option value="Low">低</option>
									<option value="fresh">新鲜</option>
									<option value="Good">口感好</option>
									<option value="Excellent"></option> -->
									<!-- <option value="Superb">顶好的</option> -->
									<!-- <option value="Not rated">我不知道</option>
								</select>                            </div>
                            <div class="col-md-6">
								<select class="form-control form-white"  name="price_review" id="price_review">
									<option value="">价格</option>
									<option value="Low">低</option>
									<option value="Excellent">公道</option>
									<option value="Expensive">贵</option>
									<option value="Excellent">Excellent</option> -->
									<!-- <option value="Superb">顶好的</option>
									<option value="Not rated">我不知道</option>
								</select>
                            </div>
                        </div>   -->
                        
                        <div class="row">
                        	<!-- <div class="col-md-6">
									<select class="form-control form-white"  name="punctuality_review" id="punctuality_review">
									<option value="">准时</option>
									<option value="Low efficiency">效率低</option>
									<option value="Need to be promoted">有待提升</option>
									<option value="Efficient">效率高</option> -->
									<!-- <option value="Excellent">Excellent</option> -->
									<!-- <option value="Praise">称赞</option>
									<option value="Not rated">我不知道</option>
								</select>                       </div>
                            <div class="col-md-6">
								<select class="form-control form-white"  name="courtesy_review" id="courtesy_review">
									<option value="">礼貌</option>
									<option value="Low quality">素质低</option>
									<option value="Need to be promoted">有待提升</option>
									<option value="High quality">素质高</option>
									<option value="Excellent">Excellent</option>
									<option value="Superb">Super</option> -->
									<!-- <option value="Not rated">我不知道</option>
								</select> -->
                            <!-- </div>
						</div>      -->
						<form action="/message_board" method="POST">
							<textarea name="content" id="content" class="form-control form-white" style="height:100px" placeholder="写下你的评论"></textarea>
							<!-- <input type="advice" id="advice" class="form-control form-white" placeholder="您有好的建议吗？"> -->
							<!-- <input type="submit" value="提交" class="btn btn-submit" id="submit-review"> -->
							<input type="submit" value="提交" class="btn btn-submit">
							<!-- <button type="submit">提交</button> -->

						<!-- </form> -->

                        </div>
					</form>
				</div>
                <div id="message-review"></div>
			</div>
		</div>
	</div><!-- End Register modal -->
    
     <!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_close"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="搜索" />
			<button type="submit"><i class="icon-search-6"></i>
			</button>
		</form>
	</div>
	<!-- End Search Menu -->   
        
<!-- COMMON SCRIPTS -->
<script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/common_scripts_min.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
<script src="{{ url_for('static', filename='assets/validate.js') }}"></script>


<!-- SPECIFIC SCRIPTS -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="{{ url_for('static', filename='js/map_single.js') }}"></script>
<script src="{{ url_for('static', filename='js/infobox.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.sliderPro.min.js') }}"></script>
<script type="text/javascript">
	$( document ).ready(function( $ ) {
		$( '#Img_carousel' ).sliderPro({
			width: 960,
			height: 500,
			fade: true,
			arrows: true,
			buttons: false,
			fullScreen: false,
			smallSize: 500,
			startSlide: 0,
			mediumSize: 1000,
			largeSize: 3000,
			thumbnailArrows: true,
			autoplay: false
		});
	});
</script>

</body>
</html>